<header class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Unblu Embedded Component Angular Demo</h1>
    <p class="lead text-muted">
      Simple demo showing how to integrate the Unblu Embedded App Component into an Angular app
    </p>
  </div>
</header>
<main class="container flex-grow-1 d-flex flex-column mb-5">
  <div class="unblu-container card shadow-sm overflow-hidden">
    <!-- Add the Unblu web component with the required minimum attributes api-key and server-url -->
    <unblu-embedded-app
      #unbluElement
      [attr.api-key]="unbluApiKey"
      [attr.server-url]="unbluServerUrl"
      (stateChange)="onStateChange($event)"
      (error)="onError($event)">
    </unblu-embedded-app>
  </div>
</main>
